html{
    background-color: #8C8C8C;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
    display: flex;
}

body{
    width: 100%;
    height: 100%;
}

#Title{
    text-align: center;
    font-size: 60px;
}

nav{
    text-align: center;
    color: black;
    font-size: 30px;
}

.Scratch{
    align-content: center;
}

header{
    margin-bottom: 20px;
    padding: 20px;

}

header nav ul li {
    display: inline;
}

a {
    color: black
}

a:hover{
    color: #F6F6F4
}

.project {
    margin-bottom: 20px;
 
}

.embededscratch{
    width: 500px;
    float: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.Scratch{
    float: center;
}

.Snap{
    float: left;
}

.embededsnap{
    
    width: 500px;
    align-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 20px;
}

.projects{
    margin: 20%;
    width: 90%;
    max-width: 1000px;
    align-content: center;
}
